@model  TwilloSuccessOtp.Models.UserRegister
@{
    ViewBag.Title = "ForgotPassword";
}

<html>
<head>
    
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="">
                @Html.LabelFor(model => model.Phone_Number)
                @Html.TextBoxFor(model => model.Phone_Number, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Phone_Number, "", new { @class = "text-denger" })
            </div>
            <div>
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        }
    </div>
</body>
</html>
